@model NexusCore.Admin.UILogic.ViewModels.Clients.EditClientViewModel
           
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-user font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Client Information</span>
            <span class="caption-helper"></span>
        </div>
        <div class="actions">
            <div class="portlet-input input-inline input-small">
                <div class="input-icon right">
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        @using (Html.BeginForm("EditClient", "Clients", FormMethod.Post, new { @class = "form-horizontal general-form" }))
        {
            <div class="form-body">
                @if (!ViewData.ModelState.IsValidField(""))
                {
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-4">
                            <div class="note note-danger">
                                @Html.ValidationSummary(true)
                            </div>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.Client.Id)
                    </div>
                </div>                
                <div class="form-group">
                    @Html.LabelFor(model => model.Client.FriendlyId, new {  @class = "col-md-3 control-label" })
                    <div class="col-md-4">
                        <p class="form-control-static">                            
                            @Model.Client.FriendlyId
                            @Html.HiddenFor(model => model.Client.FriendlyId)
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Client.Name, new { @class = "col-md-3 control-label" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Client.Name)
                    </div>
                    <div class="col-md-5 form-validation-message">
                        @Html.ValidationMessageFor(model => model.Client.Name, null, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Client.Description, new { @class = "col-md-3 control-label" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Client.Description)
                    </div>
                    <div class="col-md-5 form-validation-message">
                        @Html.ValidationMessageFor(model => model.Client.Description, null, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Client.LogoUrl, new { @class = "col-md-3 control-label" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Client.LogoUrl)
                        <span class="help-block">
                            This is unfinished image selector
                        </span>
                    </div>
                    <div class="col-md-5 form-validation-message">
                        @Html.ValidationMessageFor(model => model.Client.LogoUrl, null, new { @class = "control-label" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Client.IsActive, new { @class = "col-md-3 control-label" })
                    <div class="col-md-4">
                        <div class="checkbox-list">
                            <label class="checkbox-inline">
                                @Html.EditorFor(model => model.Client.IsActive)
                                Active                               
                            </label>
                        </div>
                    </div>
                    <div class="col-md-5 form-validation-message">
                        @Html.ValidationMessageFor(model => model.Client.IsActive, null, new { @class = "control-label" })
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" class="btn green" value="Submit" />
                        <a href="@Url.Action("Index")" class="btn default">Cancel</a>
                    </div>
                </div>
            </div>
        }
        <!-- END FORM-->
    </div>
</div>
