@model NexusCore.UILogic.Web.ViewModels.Security.UserLoginViewModel

@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<main class="main container" id="cruiseTv">
    <section class="section row">
        <div class="col-sm-12">
            <div class="col-sm-12 border-bottom-gray header-title">
                <h1>Login</h1>
                user login
            </div>
            <div class="col-sm-12">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form" }))
                {
                    <div class="col-sm-8">
                        <div class="col-sm-12">
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.ReturnUrl)
                        </div>

                        <div class="row">
                            <div class="editor-label col-sm-3 col-xs-4">
                                @Html.LabelFor(model => model.Username, new { @class = " control-label" }) *
                            </div>
                            <div class="editor-field col-sm-7 col-xs-7">
                                @Html.EditorFor(model => model.Username)
                                @Html.ValidationMessageFor(model => model.Username)
                            </div>
                        </div>
                        <div class="row">
                            <div class="editor-label col-sm-3 col-xs-4">
                                @Html.LabelFor(model => model.Password, new { @class = " control-label" }) *
                            </div>
                            <div class="editor-field col-sm-7 col-xs-7">
                                @Html.EditorFor(model => model.Password)
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>
                        <div class="row">
                            <div class="editor-label col-sm-3 col-xs-4">
                                @Html.LabelFor(model => model.IsRememberMe, new { @class = " control-label" })
                            </div>
                            <div class="editor-field col-sm-7 col-xs-7">
                                @Html.EditorFor(model => model.IsRememberMe)
                            </div>
                        </div>
                        <div class="row hidden-xs">
                            <div class="editor-field col-sm-4">
                                <input type="submit" class="btn btn-send btn-block" name="Edit" value="Login" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</main>
